################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin/Debug/net8.0/server.exe
/bin/Debug/net8.0/server.dll
/obj/Debug/net8.0/server.AssemblyInfo.cs
/obj/Debug/net8.0/server.AssemblyInfoInputs.cache
